html{
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
/*@import "_menu";*/
.app-navbar {
    background-color: rgba(0,0,0,0.8);
    .navbar-brand

{
    color: aqua;
    &:hover

{
    color: white !important;
}

}

.text-dark {
    color: #b3c9ce !important;
    &:hover

{
    color: white !important;
}

}

.dropdown-toggle {
    border-color: #a562ad;
    color: silver;
}
}

/*Contact*/
/*$contactBackground: #9854a0;
*/
.contact-firstcol {
    background-color: #9854a0;
    color: antiquewhite;
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    h4{
          line-height:40px;
          font-weight: 400;
          margin-top: 20px;
      }
   img{
       max-width: 100px;
   }
}

.formcontact{
    label{
             font-weight: 700;
         }
    .btn-primary{
        background-color:palevioletred;
        &:hover{
                   background-color:#9854a0;
               }
    }
}
