@page "/Pages/Razor"
@model CS68_MVC01.Pages.RazorModel
@{
	Layout = "_Layout";
}
<h1>Giới thiệu về Razor</h1>
<p>
	Razor là 1 template engine trong .Net, là Template Engine mặc định của Asp.MVC
	Có chức năng render HTML từ các view
</p>
